%h2 Proxy index

-if @proxies.empty?
  %a{:href => '/proxies/new'} New proxy

%table#proxies
  %thead
    %tr
      %th To
      %th &nbsp;
  %tbody
    - @proxies.each do |p|
      %tr{:id => "proxy_#{p.id}"}
        %td= p.to
        %td.edit-link.text-center.white-space-nowrap
          %a{:href => "/proxies/#{p.id}/edit"} Edit
          |
          %a.delete_link{:href => "/proxies/#{p.id}"} Delete